{% extends "base.html" %}
{% load static %}


{% block content %}

<div>
        

    

    <h1 class="my-5" style="text-align: center;">{{movie.title}}</h1>


    <h3>
        <div id="movie_details">
            <!--<img src='/static/img/{{movie.image}}'> -->
            {{ movie.title|capfirst}}
            <p>Rating: {{movie.rating}}/100</p>
            <p>Director: {{movie.director}}</p>
            <p>Price: {{movie.price}}</p>
            <p>Description: {{movie.description}}</p>
            <img src="{{ movie.image.url }}" style="width: 650px; height: 650px;"/>


            <!--STAR RATING SYSTEM-->

            <div class="starcontainer">

                <div class="rating">
                    <form class='stars'>
                        <input type="radio" name='stars' value='5' id='five' class='star'>
                        <label for="five"><i class='fa fa-star'></i></label>
                        <input type="radio" name='stars' value='4' id='four' class='star'>
                        <label for="four"><i class='fa fa-star'></i></label>
                        <input type="radio" name='stars' value='3' id='three' class='star'>
                        <label for="three"><i class='fa fa-star'></i></label>
                        <input type="radio" name='stars' value='2' id='two' class='star'>
                        <label for="two"><i class='fa fa-star'></i></label>
                        <input type="radio" name='stars' value='1' id='one' class='star' checked>
                        <label for="one"><i class='fa fa-star '></i></label>
                    </form>
                </div>
            </div>



    </h3>

</div>

{% endblock %}