{% extends "base.html" %}
{% load static %}


{% block content %}

<div>
        

    

    <h1 class="my-5" style="text-align: center;">{{movie.title}}</h1>


    <h3>
        
        <div id="movie_details">

        <!--Like System-->


        {% if user.is_authenticated %}
        <div class="d-flex flex-row" style="text-align: center;">
            <form method="POST" action="{% url 'like' movie.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                    <i class=" far fa-thumbs-up"><span>
                        {{ movie.likes.all.count }}
                    </span></i>
                </button>
            </form>

            <form method="POST" action="{% url 'dislike' movie.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                    <i class=" far fa-thumbs-down"> <span>
                        {{ movie.dislikes.all.count }}
                    </span></i>
                </button>
            </form>

            





            </div>
            {% endif %}
            <!--<img src='/static/img/{{movie.image}}'> -->
            {{ movie.title|capfirst}}
            <p>Rating: {{movie.rating}}/100</p>
            <p>Director: {{movie.director}}</p>
            <p>Price: {{movie.price}}</p>
            <p>Description: {{movie.description}}</p>
            <img src="{{ movie.image.url }}" style="width: 650px; height: 650px;"/>

            
            


            











        



    </h3>

</div>

<script>
    $('input[name="radio"]').prop("checked", false);

</script>


{% endblock %}