{% extends "base.html" %}
{% load static %}


{% block content %}


<h1 id="about_title">About</h1>
    <div id="about_author">
        <p>
            
            Jason Priskomatis is an IT major student, specializing in Software Development and the creator of the VideoClubApp website.<br>
            The scope of this website, is to demonstrate Django, HTML, CSS and Javascript knowledge and create a professional website that <br>
            can be used even outside this class.

        </p>

    <div id="course_desc">
        <h5>ITC 4030 <br> Spring Semester</h5>

    </div>
    </div>
        




{% endblock %}