{% extends "base.html" %}
{% block content %}
{% load static %}
<div>

    <h1 class="display-4" style="text-align: center">Take around on the most viewed movies!</h1> 
    {% for movie in movies %}
        <div class="moviename">
            <a href = "{% url 'movie_detail' movie.id %}">
                <h3>
                    {{  movie.title|capfirst }}
                </h3>
            </a>
            <p>
                Rating: {{movie.rating}}/100
            </p>
        </div>
    {% endfor %}



</div>

{% endblock %}